
{% for message in messages %}
        {% if message['role'] == 'system' %}
            {% if tools is not none %}
                {{ '<|system|>\n' + message['content'] + '\n' + '<functions>' }}
                 {{ tools | tojson(indent=4) }}
                {{ '</functions>' + '\n' }}
            {% elif message.get('functions', none) is not none %}
                {{ '<|system|>\n' + message['content'] + '\n' + '<functions>' + message['functions'] + '</functions>' + '\n' }}
            {% else %}
                {{ '<|system|>\n' + message['content']  + '\n' }}
            {% endif %}
        {% elif message['role'] == 'user' %}
            {% if message.get('functions', none) is not none %}
                {{ '<|user|>\n' + message['content'] + '\n' + '<functions>' + message['functions'] + '</functions>' + '\n' }}
            {% else %}
                {{ '<|user|>\n' + message['content'] + '\n' }}
            {% endif %}
        {% elif message['role'] == 'assistant' %}
            {{ '<|assistant|>\n' }}
            {% if message.get('content', none) is not none %}
                {{ message['content'] }}
            {% endif %}
            {% if message.get('function_calls', none) is not none %}
                {{ '<function_calls>' + message['function_calls'] + '</function_calls>' }}
            {% endif %}
            {% if not loop.last %}
                {{ eos_token + '\n' }}
            {% else %}
                {{ eos_token }}
            {% endif %}
        {% elif message['role'] == 'environment' %}
            {{ '<|environment|>\n' + message['content'] + '\n' }}
        {% endif %}
        {% if loop.last and add_generation_prompt %}
            {{ '<|assistant|>\n' }}
        {% endif %}
        {% endfor %}